/* Roboto Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Colors Used: #08D9D6  -  #252A34  -  #FF2E63  -  #EAEAEA */

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Style */
html,
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6rem;
  color: #252a34;
}

a {
  text-decoration: none;
}

/* Utility Classes */
.container {
  max-width: 80%;
  margin: auto;
}

.primary-text {
  color: #ff2e63;
}

.text-center {
  text-align: center;
}

.bg-dark {
  background-color: #252a34;
  color: #fff;
}

.bg-light {
  background-color: #eaeaea;
}

.bg-primary {
  background-color: #15c0bd;
  color: #fff;
}

.btn {
  background-color: #09bebb;
  padding: 0.5rem 1.25rem;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
}

.btn:hover {
  background-color: #ff2e63;
}

.btn-dark {
  background-color: #252a34;
}
/* footer */

footer{
  display: flex;
  justify-content: space-around;
}

/* foter icons */
.footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


.py-1 {
  padding: 1.5rem 0;
  /* margin-top: 250px; */
}

/*  */
.l-heading {
  font-size: 3rem;
  line-height: 1.2;
  text-transform: uppercase;
}

.m-heading {
  font-size: 2rem;
  line-height: 2;
}

.lead {
  font-size: 1.5rem;
  line-height: 1.7;
  margin-bottom: 1.5rem;
}


/* Section: Navbar ================================*/
#navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

#navbar .logo img {
  width: 140px;
  display: block;
}

#navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
}

#navbar ul li a {
  padding: 1rem;
  color: #fff;
}

#navbar ul li a:hover {
  background-color: #08d9d6;
  border-radius: 5px;
}

/* Showcase ====================================== */
#showcase {
  background: #252a34 url(../img/car\ lumier\ red.jpg) no-repeat center
    center/cover;
  height: 100vh;
  color: #fff;
}

.showcase-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1.5rem;

  /* overlay */
  background-color: rgba(0, 0, 0, 0.8);
}

/* about =============================== */


.logoabout {
  display: flex;
  width: 400px;
 margin: auto;
}
.carabout{
  width: 100%;
  margin-top: 20px;
  border-radius: 20px;

}
.sponsor{
  /* width: 50px; */
  display: flex;
  justify-content: space-evenly;
  padding: 0 auto;
}
.sponsor img{
  height: 44px;
  margin: 40px 0;
}

/* Contact =====================================  */
#contact {
  display: flex;
}

#contact .contact-us,
#contact .map {
  flex: 1;
}

#contact .contact-us input,
#contact .contact-us textarea {
  width: 100%;
  padding: 0.75rem;
  border: none;
  margin-bottom: 1rem;
  outline: none;
}

#contact .contact-us .form-group {
  display: flex;
}

#contact .contact-us .form-group input[type="text"] {
  margin-right: 0.75rem;
}

/* grid gallery */
.intro {
  width: 100%;

  position: relative;
  top: 150px;
}

.title {
  color: aliceblue;
  text-align: center;
}

.h2 {
  text-align: center;
  text-shadow: 3px 4px 6px rgb(0 0 0 / 45%);
  color: aliceblue;
  text-align: center;
}

.h2 {
  font-size: calc(20px + 14 * ((100vw - 414px) / 1186));
  margin-bottom: 203px;
  font-weight: 200;
}

body {
  background: #343434;
  margin: 0;
  padding: 0;
}

.mainItem {
  width: 217px;
  height: 250px;

  margin: 40px 0px;
  position: relative;
}

.item {
  overflow: hidden;
  border-radius: 10px;
}

.item img {
  height: 100%;
  width: 100%;
  transition: all 600ms;
}
.item img:hover {
  transform: scale(1.1);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 30px 150px;
  gap: 15px;
  position: relative;
}

.grid-item {
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 30px 50px;
  }
}
@media screen and (max-width: 750px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px 30px;
  }
}

@media screen and (max-width: 640px) {
  footer{
    display: block;
  }
}

/*----------*/
/* reservation */

h1{
  margin-top: 80px;
  color: #fff;
    text-align: center;
}




